.header {
	background-color: white;

	height: 75%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	gap: 5rem;
	margin-bottom: 5rem;

	//Media

	@include respond(tab-port) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
		gap: 5rem;
		// margin-bottom: -15;
	}

	&-content {
		grid-column: 1 / 2;
		grid-row: 1 / 2;

		display: grid;
		justify-content: center;
		align-content: center;
		justify-items: flex-start;

		@include respond(tab-port) {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
		}
	}

	&-img {
		grid-column: 2 / 3;
		grid-row: 1 / 2;

		display: grid;
		justify-content: center;
		align-content: center;

		@include respond(tab-port) {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}
	}

	&-paragraph {
		font-size: 1.9rem;
		margin-bottom: 2rem;
		color: rgba($color: #000000, $alpha: 0.6);
	}

	&::after {
		content: '';
		display: block;
		height: 2px;
		width: 100%;
		grid-column: 1 /-1;
		background-color: $color-back;
	}
}

.btn {
	margin-top: 2rem;
	padding: 1rem 2rem;
	outline: none;
	border: none;
	font-size: 1.9rem;
	color: $color-primary;
	background-color: $color-back;
	border-radius: 1rem;
	cursor: pointer;
	transform: translateY(0);
	transition: all 0.2s ease-in-out;

	&:hover {
		color: $color-back;
		background-color: $color-primary;
		box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: 0.2);
		transform: translateY(-0.5rem);
	}
}
